## 1. 문자열

다음 주소지에서 도시만 추출해 봅시다. 
```python
address1 = '서울시 강남구 삼성로' 
address2 = '대전시 서구 둔산동' 
address3 = '경기도 김포시 사우중로'

# 출력 예시
'서울', '대전', '김포"
```

In [1]:
address1 = '서울시 강남구 삼성로' 
address2 = '대전시 서구 둔산동' 
address3 = '경기도 김포시 사우중로'

In [3]:
address1[0:2],address2[0:2],address3[4:6]

('서울', '대전', '김포')

## 2. 변수, 숫자

직원 인적사항을 변수로 만들어 봅시다. 

다음 5가지 항목을 명시된 자료형에 유의하여 만들어 봅시다. 
```
이름 : 문자열
나이 : 숫자
직무 : 문자열
연락처 : 문자열
결혼 여부 : 불린(boolean)
```

## 3. 리스트, 딕셔너리, 집합 자료형

다음은 "파이썬 프로그래밍" 책을 빌린 사람 목록입니다. 도서관 사서인 당신은 이름 순대로 중복 없이 리스트를 출력하고자 합니다. 반복문을 쓰지 않고 해결해 봅시다.

In [1]:
check_list = ['엄복동', '김무무', '하현우', '정아람', '김무무', '정아람', '최최종']

출력 예시
```
['김무무', '엄복동', '정아람', '최최종', '하현우']
```

In [2]:
list(set(check_list))

['하현우', '엄복동', '최최종', '김무무', '정아람']

## 4. split 함수를 이용해 아래와 같이 email 주소 내에 포함된 @ 기호를 기준으로 메일 주소의 앞 부분과 뒷 부분을 분리하는 코드를 작성해 주세요!


email = "todaycodes@mymail.com"
분리된 결과 출력 예시 : ['todaycode', 'mymail.com']

In [3]:
email = "todaycodes@mymail.com"

In [4]:
email.split('@')

['todaycodes', 'mymail.com']

## 5. 딕셔너리, 문자열

다음은 도서관이 분실한 책 목록입니다. 사서인 당신은 이번에 개발 관련 도서들만 새로 구입하고자 합니다. 얼마를 지출해야 할지 총합을 출력하세요.
  - 문자열 formatting을 사용해 3자리 마다 ,를 찍어주세요

In [5]:
# 책 목록
book_list = {'파이썬 프로그래밍':4000, '자바 프로그래밍':8000, '우리 우주와 은하':7000,
             '아프지만 청춘일까':2000, '점프 투 파이썬':4700, '제주도로 떠나요':2300, '유럽 한달 살기':13000}

출력 예시
```
개발 관련 도서의 총 합은 16,700원입니다.
```

In [7]:
price=book_list['파이썬 프로그래밍']+book_list['자바 프로그래밍']+book_list['점프 투 파이썬']
price

16700

In [11]:
f'개발 관련 도서의 총 합은 {price;,}원입니다.'

SyntaxError: f-string: invalid syntax (1329359317.py, line 1)

## 6.  딕셔너리, 반복문

학번의 앞 4자리는 입학한 년도이고, 중간 2자리는 입학한 학과별 고유 번호, 마지막 4자리는 개별 번호를 나타냅니다. 올해 ‘파이썬 프로그래밍’ 강의를 신청한 학생들의 학번을 보고, 기수 별 학생 수와 학과별 학생 수를 각각 딕셔너리로 구해봅시다.

In [ ]:
# 학번
student_id = """2013105296
2012124644
2013123412
2014107400
2012110499
2013100102
2011139940
2014131487"""
# 학과
major_id = {'10':'경영학과', '11':'사회학과', '12':'국문학과', '13':'물리학과'}

출력 예시
```
count_id(student_id)

기수별 학생 수: {'11': 1, '12': 2, '13': 3, '14': 2}
학과별 학생 수: {'경영학과':3, '사회학과':1, '국문학과':2, '물리학과':2}
```

## 7. 리스트, 튜플

리스트의 이름에 맞는 요소만 갖고 있을 수 있도록 리스트 메서드(함수)를 사용하여 요소를 더하거나, 빼보세요.

```python
# 출력 예시
>>> print(numbers, korean, english)
([1, 100, 47], ['당근', '배추', '백'], ['potato', 'onion', 'twenty-four'])
```

In [ ]:
numbers = [1, 100, '백', 'twenty-four']
korean = ['당근', '배추', 'onion']
english = [47, 'potato']"

## 8. 집합 자료형 - dict, set

채소와 해당 되는 가격이 각각 변수안에 리스트로 들어 있습니다. 각 채소에 해당되는 가격을 딕셔너리 형식으로 변환하여 {키:값} 형태로 관리하고자 합니다.  다음과 같은 딕셔너리 자료구조로 만들어 주세요.

 {'배추': 1000, '감자': 200, '양파': 320, '대파': 2000, '마늘': 325, '양배추': 1000}

In [12]:
vegetable = ["배추", "감자", "양파", "대파", "마늘", "양배추"]
price = [1000, 200, 320, 2000, 325, 1000, 2000]

In [13]:
dict(zip(vegetable,price))

{'배추': 1000, '감자': 200, '양파': 320, '대파': 2000, '마늘': 325, '양배추': 1000}

## 9. 집합 자료형 - dict, set

다음과 같은 직업목록이 list 형태로 있습니다. 중복된 값을 포함하고 있는데 집합 자료형을 사용하여 중복을 제거하고 몇 종류의 직업이 있는지 세어주세요.

In [ ]:
job = ['공업기계 설치 및 정비원', '숙박시설 서비스원', '철근공', '화가 및 조각가', 
       '콘크리트공', '화가 및 조각가', '경비원', '냉/난방 관련 설비 조작원', 
       '선박 갑판승무원 및 관련 종사원', '세탁원 및 다림질원', '보험 설계사 및 간접투자증권 판매인', 
       '플라스틱제품 생산기 조작원', '화가 및 조각가', '단열공', '해외 영업원', '배우 및 모델', 
       '화가 및 조각가', '경비원', '곡식작물 재배원', '경찰관', '행사기획자', '경비원', '경찰관', 
       '직조기 및 편직기 조작원', '화가 및 조각가', '화가 및 조각가', '경비원', '화가 및 조각가', 
       '경찰관', '투자 및 신용 분석가', '경찰관', '화가 및 조각가', '악기제조 및 조율사', 
       '만화가 및 만화영화 작가', '경비원', '고객 상담 및 모니터 요원', '보건위생 및 환경 검사원', 
       '기타 사회복지관련 종사원', '기계공학 기술자 및 연구원']

## 10. 딕셔너리, 문자열, 반복문

오늘 연필, 계란, 오징어를 구매했습니다. 세 품목을 우리나라 고유 단위를 이용해 얼마나 샀는지 알아보려고 합니다. 제공된 단위 딕셔너리 2개를 참조하여 변환해 보세요.

In [ ]:
unique_unit = {'연필':'다스', '계란': '판', '오징어':'축'}
unit = {'다스': 12, '판': 30, '축':20}
shopping = {'연필':40, '계란':62, '오징어':21}

# 출력 예시
연필은 3다스, 4개 구매했습니다.
계란은 2판, 2개 구매했습니다.
오징어은 1축, 1개 구매했습니다.

출력 예시
```
연필은 3다스, 4개 구매했습니다.
계란은 2판, 2개 구매했습니다.
오징어은 1축, 1개 구매했습니다.
```

f'연필은 3{unique_unit["연필"]},4개를 구매했습니다.'

f'연필은 2{unique_unit["계란"]},2개를 구매했습니다.'

f'오징어는 1{unique_unit["오징어"]},1개를 구매했습니다.'